@import 'vars';

.MyOrder {
	width: 360px;
	padding: 24px;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	background-color: white;
	top: 60px;
	bottom: auto;
	border-radius: 6px;
	border: 1px solid var(--very-light-pink);
	z-index: 1;

}
.title-container {
	display: flex;
}
.title-container img {
	transform: rotate(180deg);
	margin-top: 7px;
	margin-right: 14px;
	cursor: pointer;
}
.title-container img:hover{
	filter: invert(0.26) sepia(1) saturate(8.4) hue-rotate(93.6deg) brightness(0.88);
}
.title {
	font-size: var(--lg);
	font-weight: bold;
}
.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 24px;
	border-radius: 8px;
	padding: 0 24px;
}
.order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}

.primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
.primary-button:hover{
	background-color: var(--hospital-green-hover);
}
.primary-button a {
	list-style: none;
	color: var(--white);
	text-decoration: none;
}

.cart-product-list {
	max-height: calc(100vh - 340px);
	overflow-y: auto;
	
}
.cart-product-list::-webkit-scrollbar {
	display: none;
}
@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
}